#cloud-config
hostname: @@BUILD_HOSTNAME@@
manage_etc_hosts: true

users:
  - default

ssh_pwauth: true
package_update: true
package_upgrade: true

write_files:
  - path: /usr/local/sbin/qemu-vfio-provision.sh
    owner: root:root
    permissions: '0755'
    content: |
@@PROVISION_SCRIPT@@
  - path: /var/cache/qemu-vfio/apple-dma-src.tgz
    owner: root:root
    permissions: '0644'
    encoding: b64
    content: |
@@APPLE_DMA_SRC_B64@@

runcmd:
  - [bash, -lc, "@@PROVISION_ENV@@ /usr/local/sbin/qemu-vfio-provision.sh 2>&1 | tee /var/log/qemu-vfio-provision.log"]

final_message: "qemu-vfio image build complete after $UPTIME seconds"
